@font-face {
  font-family: "DIN-Black-2";
  //noinspection CssUnknownTarget
  src: url("~@/assets/font/DIN-Black-2.otf");
}

@font-face {
  font-family: "din-bold-2_0"; // 字体偏上
  //noinspection CssUnknownTarget
  src: url("~@/assets/font/din-bold-2_0.ttf");
}

@font-face {
  font-family: "DIN-Condensed-Bold-2"; // 字体偏上
  //noinspection CssUnknownTarget
  src: url("~@/assets/font/DIN-Condensed-Bold-2.ttf");
}

@font-face {
  font-family: "DIN-Light-2";
  //noinspection CssUnknownTarget
  src: url("~@/assets/font/DIN-Light-2.otf");
}

@font-face {
  font-family: "DIN-Pro-Regular-2";
  //noinspection CssUnknownTarget
  src: url("~@/assets/font/DIN-Pro-Regular-2.otf");
}

@font-face {
  font-family: "DIN-Regular-2";
  //noinspection CssUnknownTarget
  src: url("~@/assets/font/DIN-Regular-2.otf");
}

@font-face {
  font-family: "DINCondensedC-Regular-2";
  //noinspection CssUnknownTarget
  src: url("~@/assets/font/DINCondensedC-Regular-2.ttf");
}