//noinspection CssUnknownTarget
@import "~@/assets/iconfont/iconfont.css";

html, body, #app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

p {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#app {
  //noinspection CssUnknownTarget
  background: rgba(29, 160, 155, 0.64) url("~@/assets/images/bg/02.jpg") no-repeat center center;
  background-size: cover;

  > div {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  &:before, &:after {
    display: table;
    content: "";
  }
}

.el-drawer__wrapper {
  > * :focus {
    outline: none !important;
  }

  .el-drawer {
    overflow: auto;
    overflow-x: hidden;
  }
}

.el-popconfirm {
  .el-popconfirm__main {
    padding: 10px 0;
  }
}

.el-message-box__wrapper {
  &:after {
    display: none !important;
  }
  .el-message-box {
    margin-top: 15vh;
    border-radius: 2px;
  }
}
